mixin 404
    +b.page-404
        +b.title-default
            +e.P.title 404
            +e.del
            +e.descript This webpage is not available
        +b.bottom-404
            +e.IMG.img(src="img/logo.svg")
            +e.A.btn.btn_red.btn_big.btn_default(href="") GO TO MAIN

