mixin about
    +b.about#about
        +b.about-wrapper.container
            +b.about-content
                +b.title-default
                    +e.P.title About Us
                    +e.del
                +b.about-text
                    +e.P.text-item We are the creative studio "REDPIX Production". We create and support web development and graphic design projects, create a corporate identity and HTML5 banners. Also we make professional arts for mobile games and produce animated/promo videos for gaming companies.
                    +e.P.text-item The great experience allows us to implement projects of any complexity.We value every customer and that’s why we assure reliability of fulfillment of your order.
                    +e.P.text-item Our team consists of the talented artists and creative designers, smart engineers, professional team leaders and video makers. We deal both with outsourcing and support and separate projects.
                    +e.P.text-item Why particularly we should do your product? Because we work at high level of trust and responsibility. Beginning from the qualified advice, filling in brief to complete performance of high-quality product.
                    +e.P.text-item It’s easy and comfortable to work with us. We also guarantee complete confidentiality of the work.


