mixin development-main 
	+b.main.main-common
		+b.main-content.container
			+b.main-img
				+e.IMG.img(src="img/mac_book.png")        
			+b.main-text-default
				+e.P.title Website Development
				+e.P.sub-title Nowadays, a nice-looking resource shows your high status. An attractive website not only inspires trust among users, and besides is the main way of acquaintance with the activities of specific company. And we will provide you with the best solution.
				+e.A.btn.btn_red.btn_big.btn_default(href="") CONSULTATION