mixin main_screen 
	+b.main
		+b.main-content.container
			+b.main-text
				+e.P.title Creative design #[br] and development studio
				+e.P.sub-title Creative design and development studio comprehensive solution for your business. Creative design and studio 
				+e.A.btn.btn_red.btn_big.btn_default(href="") CONSULTATION
			+b.main-phone#scene
				+e.IMG.img(data-depth="0.2" src="img/main-phone.png")
		+b.partners.container
			+e.P.title Partners & clients:
			+b.partners-slider
				+e.item
					a(href="")
						img(src="img/1.png", alt="")
				+e.item
					a(href="")
						img(src="img/2.png", alt="")
				+e.item
					a(href="")
						img(src="img/3.png", alt="")
				+e.item
					a(href="")
						img(src="img/4.png", alt="")
				+e.item
					a(href="")
						img(src="img/5.png", alt="")
				+e.item
					a(href="")
						img(src="img/1.png", alt="")
				+e.item
					a(href="")
						img(src="img/2.png", alt="")
				+e.item
					a(href="")
						img(src="img/3.png", alt="")
				+e.item
					a(href="")
						img(src="img/4.png", alt="")
				+e.item
					a(href="")
						img(src="img/5.png", alt="")

