mixin portfolio
    +b.portfolio#portfolio
        +b.portfolio-content.container
            +b.title-default
                +e.P.title portfolio
                +e.del
            +b.list-serv-wrapp
                +b.UL.list-serv
                    li 
                        a(href="web.html") Websites
                    li 
                        a(href="art.html") 2D/3D Art
                    li 
                        a(href="banners.html") hTML 5 banners
                    li 
                        a(href="brand.html") Brand Identety
                    li 
                        a(href="animation.html") Video Animation
                    li 
                        a(href="playables.html") Playables
            +b.portfolio-slider
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.
                +b.portfolio__item
                    +e.IMG.img(src="img/portfolio-item.png")
                    +b.portfolio__item-text
                        +e.title Kyiv BMW Service
                        +e.descript В современном мире красивый ресурс показывает ваш высокий статус. Привлекательный сайт вызывает доверие пользователей, но и вообще служит главным способом знакомства с деятельностью конкретной компании. И мы обеспечим вас лучшим решением.                        

        