include service-item.pug

mixin second-common
    +b.second-screen#second-screen
        +b.second-screen-content.container
            +b.title-default
                +e.P.title What We Do
                +e.del
            +b.service-slider
                +service-item
                +service-item
                +service-item
                +service-item
                +service-item
                +service-item
                +service-item

                
                