mixin second-screen
    +b.second-screen#second-screen
        +b.second-screen-content.container
            +b.title-default
                +e.P.title What We Do
                +e.del
            +b.offers
                +b.offers-item
                    +e.A.link(href="web.html")
                    +e.bg
                    +b.offers-content
                        +e.IMG.img(src="img/website.svg")
                        +e.P.title Website Development
                        +e.P.descript Nowadays, a nice-looking resource shows your high status. An attractive website
                
                +b.offers-item
                    +e.A.link(href="art.html")
                    +e.bg
                    +b.offers-content
                        +e.IMG.img(src="img/game.svg")
                        +e.P.title 2D, 3D Game Art
                        +e.P.descript Nowadays, a nice-looking resource shows your high status. An attractive website 
                
                +b.offers-item
                    +e.A.link(href="brand.html")
                    +e.bg
                    +b.offers-content
                        +e.IMG.img(src="img/website.svg")
                        +e.P.title Brand Identity
                        +e.P.descript Nowadays, a nice-looking resource shows your high status. An attractive website


            +b.more-serv
                a(href='') More Services
        

