mixin service-item
    +b.service-item
        +e.bg
        +b.service-item-cont
            +e.IMG.img(src="img/website.svg")
            +e.P.title Landing Page
            +e.UL.list
                li Одностраничный сайт
                li Уникальный дизайн
                li Адаптивная верстка
                li Эффекты анимации
                li Форма обратной связи
            +e.A.btn.btn_red.btn_big.btn_default(href="") CONSULTATION
            +e.A.btn.btn_transp.btn_big.btn_default(href="") ONLINE BRIF
